.chill-set {

}


.toast-alert .toast-wrapper{
    background-color: $chillter-col;
}

.toast-alert .toast-message{
    color: white;
}

.chill-set .avatar{
    position: relative;
    width: 150px;
    margin: auto;
}

.chill-set .avatar img-loader{
   box-sizing:content-box;
   border: 2px solid $chillter-col;
   border-radius: 100%;
   overflow: hidden;
   display:inline-block;
   height:125px;
   width:125px;
}

.valid-picture, .cancel-picture{
    border: 2px solid $chillter-col;
    border-radius: 100%;
    width: 3.5rem;
    background-color: white;
    position: absolute;
    font-size: 2.7rem;
    right:5px;
}

.valid-picture{
    top:5px;
}

.cancel-picture{
    bottom:5px;
}

.valid-picture ion-icon, .cancel-picture ion-icon{
    vertical-align: middle;
}

.btn-disconnect-contener{
    text-align: center;
}

.btn-disconnect{
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    border: 1px solid $chillter-col;
    border-radius: 5rem;
    font-size: 2.3rem;
    color: $chillter-col;
    width:80vmin;
    margin: auto;
}

.btn-disconnect ion-icon{
    position: relative;
    top: 5px;
}

.complete-name{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0px;
}

.change-password{
    padding-left: 4rem;
    color: $chillter-col;
}

.item-info{
    text-align: center;
}

.cancel-info, .update-info{
    color: $chillter-col;
    display: inline-block;
    text-align: center;
    margin: 0px 3rem;
    font-size: 1.8rem;
}