.friend-list {

}

.search-friends{
    width:90vw;
    float: left;
}

.show-add-friends{
    margin: auto;
    //height: 8vw;
    //width: 8vw;
}

.friends-head-list{
    vertical-align: middle;
    line-height: 3rem;
}