.add-nav{
    text-align: center;
}

.nav-button{
    color: $chillter-col;
    display: inline-block;
    margin: 0px 5rem;
    font-size: 1.8rem;
}

.inheriters-list{
    width:80%;
    margin: auto;
    margin-top: 2rem;
    padding-top:1rem;
    border-top: 1px solid $chillter-col;
}

.inheriters-list img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.inheriter-content{
    position: relative;
    height: 5rem;
    width: 5rem;
    display: inline-block;
    margin: 0px 5px;
}

.inherit{
    background-color: green;
    height: 1.2rem;
    width: 1.2rem;
    border-radius:  50%;
    position: absolute;
    top: 2px;
    right:2px;
}

.input-exps{
    text-align: center;
    font-size: 2rem;
}

.exps-utils{
    
    border: none;
    width: 35vmin;
    margin: 0px 5vw;
}

.price-utils{
    border: none;
    width: 35vmin;
    margin: 0px 5vw;
}

.add-content{
    margin-top: 20%;
}

.add-exp-scroll{
    width:100%!important;
}